/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Poppins:wght@400;700&family=Roboto:wght@300;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Inter", sans-serif;
  color: #292929;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1260px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 744px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
}

.title-2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
}
@media screen and (min-width: 744px) {
  .title-2 {
    font-size: 40px;
  }
}

.header {
  background-image: url(/sass-html/img/header/image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__top {
  display: flex;
  justify-content: center;
  margin-bottom: 346px;
  padding-top: 24px;
}
@media screen and (min-width: 744px) {
  .header__top {
    padding-top: 32px;
  }
}

.header__logo {
  width: 125px;
  height: 16px;
}
@media screen and (min-width: 744px) {
  .header__logo {
    width: 188px;
    height: 24px;
  }
}

.header__tel {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: 24px;
}
@media screen and (min-width: 744px) {
  .header__tel {
    width: 32px;
    height: 32px;
    margin-right: 32px;
  }
}

.header__menu {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 744px) {
  .header__menu {
    width: 32px;
    height: 32px;
  }
}

.header__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 744px) {
  .header__bottom {
    gap: 40px;
  }
}

.header__title {
  padding-bottom: 40px;
  font-size: 32px;
  color: #292929;
  font-style: italic;
  font-weight: 800;
  line-height: 100%; /* 32px */
  letter-spacing: -1.5px;
}
@media screen and (min-width: 744px) {
  .header__title {
    padding-bottom: 64px;
    font-size: 40px;
  }
}

.header__sound-wawes {
  width: 48px;
  height: 58px;
}
@media screen and (min-width: 744px) {
  .header__sound-wawes {
    width: 63px;
    height: 76px;
  }
}

.recommended {
  padding-top: 64px;
  padding-bottom: 96px;
}
@media screen and (min-width: 744px) {
  .recommended {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.recommended__title {
  margin-bottom: 64px;
  text-align: center;
}

.recommended__wrapper {
  display: grid;
  justify-content: center;
  gap: 40px;
}
@media screen and (min-width: 1260px) {
  .recommended__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
}

@media screen and (min-width: 744px) {
  .recommended__img {
    width: 392px;
    height: 392px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1260px) {
  .recommended__img {
    width: 324px;
    height: 324px;
  }
}

.recommended__product-name {
  margin-bottom: 8px;
  color: #292929;
  font-weight: 700;
}

.recommended__product-description {
  margin-bottom: 12px;
  color: #292929;
  line-height: 22.4px;
}

.recommended__product-price {
  font-weight: 700;
  line-height: 140%;
}

.category__title {
  margin-bottom: 48px;
}
@media screen and (min-width: 744px) {
  .category__title {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1260px) {
  .category__title {
    font-size: 48px;
  }
}

.category__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media screen and (min-width: 744px) {
  .category__card {
    grid-template-columns: 2fr 1fr;
  }
  .category__card-reversed {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 1260px) {
  .category__card {
    grid-template-columns: 2fr 1fr;
  }
  .category__card-reversed {
    grid-template-columns: 1fr 2fr;
  }
}

.category__img {
  width: 100%;
  height: 130px;
  display: block;
}
@media screen and (min-width: 744px) {
  .category__img-mobile {
    display: none;
  }
}
.category__img-tablet {
  display: none;
}
@media screen and (min-width: 744px) {
  .category__img-tablet {
    height: 184px;
    display: block;
  }
}
@media screen and (min-width: 1260px) {
  .category__img-tablet {
    display: none;
  }
}
.category__img-desk {
  display: none;
  height: 324px;
}
@media screen and (min-width: 1260px) {
  .category__img-desk {
    display: block;
  }
}

.category__name {
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media screen and (min-width: 744px) {
  .category__name {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 64px;
  }
}

.button-wrapper {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  background-color: #292929;
  padding: 0px 48px;
  width: 280px;
  height: 56px;
  border-radius: 40px;
}
.button-wrapper:hover {
  color: #292929;
  border: 3px solid #292929;
  background-color: transparent;
}
@media screen and (min-width: 744px) {
  .button-wrapper {
    width: 392px;
  }
}

.guarantees {
  padding: 96px 0;
}
@media screen and (min-width: 744px) {
  .guarantees {
    padding: 120px 0;
  }
}

@media screen and (min-width: 744px) {
  .guarantees__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .guarantees__wrapper .guarantees__title {
    grid-column: 1/span 1;
  }
  .guarantees__wrapper .guarantees__list {
    grid-column: 2/span 1;
  }
  .guarantees__wrapper .guarantees__description {
    grid-column: 2/span 1;
  }
}

.guarantees__title {
  margin: 0 auto;
  text-align: start;
  max-width: 280px;
  margin-bottom: 32px;
}
@media screen and (min-width: 744px) {
  .guarantees__title {
    width: 287px;
  }
}

.guarantees__list {
  display: grid;
  justify-content: center;
  align-items: start;
  margin-bottom: 40px;
  row-gap: 16px;
}

.guarantees__item {
  font-weight: 700;
}

.guarantees__description {
  margin: 0 auto;
  line-height: 27px;
  max-width: 287px;
}

.footer__title {
  margin-bottom: 48px;
}

@media screen and (min-width: 744px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .footer__wrapper .form {
    grid-column: 1/span 1;
  }
  .footer__wrapper .footer__list {
    grid-column: 2/span 1;
  }
}

.footer__list {
  display: grid;
  justify-content: center;
  row-gap: 24px;
}

.footer__item {
  color: #3e3e3e;
}

.footer__item-span {
  display: block;
  color: #9fadc2;
}

.footer__item-link {
  color: #3e3e3e;
}

.footer__img {
  width: 100%;
  padding-top: 96px;
}

.form {
  margin-bottom: 48px;
  display: grid;
  row-gap: 16px;
  justify-content: center;
}

.form__input {
  width: 280px;
  height: 48px;
  border-radius: 16px;
  padding: 14px 16px;
  background-color: #f8f8fa;
  color: #7e7e83;
}
.form__input-text {
  height: 148px;
  margin-bottom: 16px;
}

.form__button {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  background-color: #292929;
  padding: 0px 48px;
  width: 280px;
  height: 56px;
  border-radius: 40px;
}
.form__button:hover {
  color: #292929;
  border: 3px solid #292929;
  background-color: transparent;
}
@media screen and (min-width: 744px) {
  .form__button {
    width: 392px;
  }
}
@media screen and (min-width: 744px) {
  .form__button {
    width: 280px;
  }
}/*# sourceMappingURL=main.css.map */