.footer__title {
  margin-bottom: 48px;
}

.footer__wrapper {
  @include mediaTablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

.footer__list {
  display: grid;
  justify-content: center;
  @include mediaTablet {
    height: 244px;
  }
  @include mediaDesktop {
    height: 244px;
  }
  row-gap: 24px;
}
.footer__item {
  color: $color-footer-contacts;
}

.footer__item-span {
  display: block;
  color: $color-footer;
}

.footer__item-link {
  color: $color-footer-contacts;
}

.footer__img {
  display: block;
  width: 100%;
  padding-top: 96px;
  max-width: 1260px;
  margin: 0 auto;
}
