.form {
  margin-bottom: 48px;
  display: grid;
  row-gap: 16px;
  justify-content: center;
}
.form__input {
  width: 280px;
  height: 48px;
  border-radius: 16px;
  padding: 14px 16px;
  background-color: $color-input-bg;
  color: $color-input-text;
  &-text {
    height: 148px;
    margin-bottom: 16px;
  }
  @include mediaTablet {
    width: 288px;
  }
  @include mediaDesktop {
    width: 411px;
  }
}

.form__button {
  @include decorButton;
  @include mediaTablet {
    width: 288px;
  }
  @include mediaDesktop {
    width: 411px;
  }
}
