@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Poppins:wght@400;700&family=Roboto:wght@300;700&display=swap");

body {
  font-family: $font-main;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}
