@mixin decorButton {
  color: $color-white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  background-color: $color-text;
  padding: 0px 48px;
  width: 280px;
  height: 56px;
  border-radius: 40px;

  &:hover {
    color: $color-text;
    border: 3px solid $color-text;
    background-color: transparent;
  }

  @include mediaTablet {
    width: 392px;
  }
}

@mixin mediaTablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin mediaDesktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
