// FONTS
$font-main: "Inter", sans-serif;

// COLORS
$color-text: #292929;
$color-white: #ffffff;
$color-input-bg: #f8f8fa;
$color-input-text: #7e7e83;
$color-footer: #9fadc2;
$color-footer-contacts: #3e3e3e;

// MEDIA

$tablet: 744px;
$desktop: 1260px;
